BATTLENET_CLIENT_ID=ton_client_id_battlenet
BATTLENET_CLIENT_SECRET=ton_client_secret_battlenet
BATTLENET_ALLOWED_REDIRECT_URIS=http://localhost:8788/callback,http://localhost:8080/callback,https://wow100.pages.dev/callback,https://wow100.cosmos-lty.fr/callback
